<div class="mainpage">
<div class="main-title">Product name</div>

<div class="contents">
<div class="main-btn">
<div class="main-image1">
<%#= link_to image_tag("midimg1.jpeg", class:"main-btn-img"), new_product_path %>
</div>
<%= link_to 'Record', new_product_path %>
</div>

  <% @products.each do |product| %>
    <div class="content">
    <%= link_to '削除', product_path(product.id),method: :delete %>
          <%= link_to '詳細',product_path(product.id),method: :get %>
      <div class="product_name">薬品名:
      <%= product.product_name %></div>

      <div class="price">単価:
      <%= product.price %></div>
      <div class="stock">個数:
      <%= product.stock %></div>
      <div class="comment">説明:
      <%= product.comment %></div>
    </div>
</div>
  <% end %>
</div>